#Htaccess Deals with parsing url and all routing

Options -MultiViews
#Turnv on rewriteengline, without this no rewrite stuff will work
RewriteEngine On

RewriteBase /admin/public

#will not run the redirect below if the qeury string passed to the url is an actual physical file, directory or link
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ $1/ [L,R=301]

#Takes the url query string e.g url=home/ This will then be picked up in the parseUrl method via the GET
#Example url: local/admin/index.php?url=home
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
