#This will allow me to do rewrites etc
RewriteEngine on

#will not run the redirect below if the qeury string passed to the url is an actual physical file, directory or link
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

#This makes anything rewrite to index.php in the url and pass a query string eg.url=home
#Example url: local/admin/index.php?url=home
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]